
<header>
<style>
    .show{
        display:block!important;
    }
</style>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 col-12 " style="padding: 5px 0; position: fixed; z-index: 100; box-shadow: 0 0.25rem 0.75rem rgb(84 199 150 / 0.2)">
        <div class="container col-11">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/lib/imgs/logo.png" width="110" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="top-bar" asp-area="" id="nav1" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="top-bar" asp-area="" id="nav2" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="input-group" style="margin-left:2vw">
                <input type="search" class="form-control rounded" placeholder="Search..." aria-describedby="search-addon" style="border-radius:30px!important;background:#ecf7f2; border:none;padding-left:1.5vw; min-width:100px" />
                <button type="button" class="button-search">
                    <i class="fa fa-search" style="color:white"></i>
                </button>


            </div>
            @if (true)
            {

                <div style="width:100px; height:40px;float:right;text-align:right" class="col-3">
                    <button type="button" class="icon-current">
                        <i class="fa fa-bell" style="color: #f6fbf9; font-size: 20px;"></i>
                    </button>

                    <button type="button" class="icon-current user-current">
                        @demoWebCore_1.Models.AuthRequest.name
                    </button>
                    <button type="button" class="icon-current dropbtn" onclick="ShowAction()" style="padding: 0; background: none;">
                        <i class="fa fa-chevron-down" style="color:#0d7b41;font-size:12px;"></i>
                    </button>
                    <div class="dropdown" style=" float: right;  position: relative;display: inline-block;">

                        <div id="myDropdown" class="dropdown-content" style=" display: none; z-index: 5;margin-left: 11vw; background: rgb(104 167 135 / 0.92); width: 220px; height: 280px; box-shadow: rgb(169 204 189 / 0.2) 5px 5px; border-radius: 10px;">
                            <a href="#" class="col-12" style=" color: white; padding: 15px 16px; text-align: left; text-decoration: none; display: block;">
                                <i class="fa fa-gear" style="padding:0 10px;"></i>Setting
                            </a>

                            <a href="#" class="col-12"  style=" color: white; padding: 15px 16px; text-align: left; text-decoration: none; display: block;">
                                <i class="fa fa-user" style="padding:0 10px;"></i> My Account


                            </a>

                            <a href="#" class="col-12"  style=" color: white; padding: 15px 16px; text-align: left; text-decoration: none; display: block;">
                                <i class="fa fa-arrow-right-from-bracket" style="padding:0 10px;"></i>
                                Logout
                            </a>
                        </div>
                    </div>

                </div>


            }
            else
            {
                <div style=" width:100px; height:40px;float:right;text-align:right" class="col-3">
                    <button type="button" class="user-signup" onclick="window.location.href='@Url.Action("Auth","Auth",new { type="sign-up" })'">
                        Sign Up
                    </button>

                    <button type="button" class="user-login" onclick="window.location.href='@Url.Action("Auth","Auth",new { type="login" })'">
                        Login
                    </button>
                </div>
            }
        </div>
    </nav>
</header>