@{
    ViewData["Title"] = "Samee";
}

    <div class="text-center container col-5" style="height:300px">
        <div data-test-id="media-empty-view" class="XiG Zr3 hUC s2n sLG xcv L4E zI7 iyn Hsu"
             style="height: 100%;">
            <div class="Jea gjz jzS mQ8 xcv L4E zI7 iyn Hsu" style="border: 2px dashed rgb(218, 218, 218); border-radius: 6px; height: 100%;">
                <div class="hA- wYR zI7 iyn Hsu">
                    <svg class="gUZ B9u U9O kVc" height="32" width="32" viewBox="0 0 24 24" aria-label="Thêm hình ảnh hoặc video" role="img">
                        <path d="M24 12c0-6.627-5.372-12-12-12C5.373 0 0 5.373 0 12s5.373 12 12 12c6.628 0 12-5.373 12-12zm-10.767 3.75a1.25 1.25 0 0 1-2.5 0v-3.948l-1.031 1.031a1.25 1.25 0 0 1-1.768-1.768L12 7l4.066 4.065a1.25 1.25 0 0 1-1.768 1.768l-1.065-1.065v3.982z"></path>
                    </svg>
                </div>
                <div class="KO4 oqv xcv L4E zI7 iyn Hsu">
                    <div class="tBJ dyH iFc sAJ pBj tg7 swG">Drag and drop or click to upload</div>
                </div>
            </div>

        </div>
        <input id="media-upload-input-0f5b8203-e05b-42c7-a03d-bd9c849f3bd2" data-test-id="media-upload-input-0f5b8203-e05b-42c7-a03d-bd9c849f3bd2" type="file" accept="image/bmp,image/gif,image/jpeg,image/png,image/tiff,image/webp" aria-hidden="true" tabindex="-1" style="cursor: pointer; height: 100%; opacity: 0; position: absolute; width: 100%; left: 0px; top: 0px; font-size: 0px;">
    </div>
